<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Your description goes here">
        <meta name="keywords" content="one, two, three">
        <title>Blank Template</title>
        <!-- external CSS link -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>Astrology Quest</h1>
        <h3>Enter your birth month and day below</h3>
        <section>
            <input id="month" type="text" placeholder="0">
            <input id="day" type="text" placeholder="1">
            <button id="enter">Enter</button>
        </section>
        <p id="results"></p>
    </body>
    <script type="text/javascript" src="js/main.js"></script>
</html>
